@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Styles for larger screens */
.header {
  width: 100%;
  height: 80px;
  background-color: #edebe7;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.navbar-links {
  list-style: none;
  color: #162743;
  display: inline-block;
  margin-right: 50px;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 22px;
  text-decoration: none;
}

.navbar-links a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #edebe7;
  background-color: #162743; /* Change font color on hover */
}

/* Add background frame for active link */
.navbar-links a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: navy !important;
  position: absolute;
  bottom: -2px; /* Adjust position to frame the link */
}

.navbar__ksss-logo {
  padding-top: 0.2rem;
  padding-left: 4vh;
  width: 6rem;
  height: auto;
}

.swedish-flag {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 30px;
  width: auto;
  height: auto;
}

.search-icon {
  margin-left: 0px;
}

.navbar__menu-toggle {
  display: block;
}

/* Styles for smaller screens */
@media (max-width: 904px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
  }

  .navbar__ksss-logo {
    padding-top: 0.2rem;
    padding-left: 4vh;
    width: 9rem;
    height: auto;
  }

  .swedish-flag {
    padding-left: 25px;
  }

  .navbar__menu-toggle {
    display: block; /* Show menu toggle for smaller screens */
    cursor: pointer;
    color: #162743;
    width: 40px;
    height: 40px;
    padding-right: 10vh;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    padding: 1rem;
    z-index: 100; /* Ensure it's above other content */
    overflow-y: auto;
  }
  .navbar__menu-icon {
    font-size: 32px;
  }

  .navbar__menu.open {
    display: flex;
  }

  .navbar__menu ul,
  .navbar__menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  .navbar__menu ul li a {
    padding-top: 5vh;
    color: #162743;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Show the menu links */
  .menu-links {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* Add more styles as needed */
  }

  .menu-links:hover a {
    color: #edebe7;
    background-color: #162743; /* Add your hover styles here */
  }
}
/* Styles for larger screens */
@media (min-width: 904px) {
  .navbar__menu-toggle {
    display: none; /* Hide menu toggle for larger screens */
  }
}
@media (max-width: 1034px) {
  .navbar-links {
    font-size: smaller; /* Adjust the font size as needed */
  }
}
.language-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: smaller;
}

.dropdown-content a:hover {
  background-color: #162743;
  color: #edebe7;
}

.navbar-links:hover .dropdown-content {
  display: block;
}
.language-option {
  display: flex;
  align-items: center;
  text-decoration: none; /* remove underline */
  color: inherit; /* inherit color from parent */
}

.swedish-flag__dropdown {
  margin-right: 5px; /* Add some spacing between the flag and text */
}
.language-option .swedish-flag__dropdown,
.language-option .english-flag__dropdown,
.language-option .german-flag__dropdown {
  margin-right: 2px; /* Adjust the padding as needed */
}
