@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.year-books-component__container {
  display: flex;
  flex-direction: column;
}

.year-books-component__decade-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.year-books-component__container-decades-books {
  display: flex;
  background-color: #fff;
  align-items: end;
  padding: 2px 0;
  gap: 20px;
  width: 100%;
  height: auto;
  overflow: scroll;
  align-self: center;
}

.year-books-component__decades-text {
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: bold;
}

.line {
  width: 100%;
  height: 6px;
  background-color: #edebe7;
}

.year-books-component__modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.634);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.year-books-component__login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fdfbf8;
  border-radius: 20px;
  padding: 20px 20px;
  width: 350px;
  height: fit-content;
}

.year-books-component__input {
  height: 40px;
}

.year-books-component__login-button {
  color: #fff;
  background-color: #162743;
  font-family: Montserrat;
  margin-top: 30px;
  font-size: 16px;
  border: black 1px solid;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
}

.year-books-component__login-h2 {
  font-family: Montserrat;
  text-align: center;
}
