.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  width: 100vw; /* Set width to 100% of viewport width */
  height: 70vh; /* Set height to 70% of viewport height */
  position: absolute;
  top: 120px; /* Positioning 120px from the top of the screen */
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 1042px) {
  .carousel {
    height: 60vh; /* Adjusted height for smaller screens */
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 50vh; /* Adjusted height for smaller screens */
  }
}
@media (max-width: 700px) {
  .carousel {
    height: 45vh; /* Adjusted height for screens up to 700px width */
  }
}

@media (max-width: 576px) {
  .carousel {
    height: 40vh; /* Adjusted height for smaller screens */
  }
}
@media (max-width: 430px) {
  .carousel {
    height: 27vh; /* Adjusted height for smaller screens */
  }
}
@media (max-width: 420px) {
  .carousel {
    height: 26vh; /* Adjusted height for smaller screens */
  }
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
.carousel > input[type="radio"]:checked ~ .carousel__prev > label,
.carousel > input[type="radio"]:checked ~ .carousel__next > label {
  opacity: 0;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__items
  .carousel__item:nth-child(1),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__items
  .carousel__item:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__items
  .carousel__item:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__items
  .carousel__item:nth-child(4),
.carousel
  > input[type="radio"]:nth-child(5):checked
  ~ .carousel__items
  .carousel__item:nth-child(5) {
  opacity: 1;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__prev
  > label:nth-child(5),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__prev
  > label:nth-child(1),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__prev
  > label:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__prev
  > label:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(5):checked
  ~ .carousel__prev
  > label:nth-child(4) {
  opacity: 1;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__next
  > label:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__next
  > label:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__next
  > label:nth-child(4),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__next
  > label:nth-child(5),
.carousel
  > input[type="radio"]:nth-child(5):checked
  ~ .carousel__next
  > label:nth-child(1) {
  opacity: 1;
}

.carousel
  > input[type="radio"]:nth-child(1):checked
  ~ .carousel__nav
  > label:nth-child(1),
.carousel
  > input[type="radio"]:nth-child(2):checked
  ~ .carousel__nav
  > label:nth-child(2),
.carousel
  > input[type="radio"]:nth-child(3):checked
  ~ .carousel__nav
  > label:nth-child(3),
.carousel
  > input[type="radio"]:nth-child(4):checked
  ~ .carousel__nav
  > label:nth-child(4),
.carousel
  > input[type="radio"]:nth-child(5):checked
  ~ .carousel__nav
  > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel__items {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.carousel__item img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  height: 600px;
  vertical-align: middle;
}

.carousel__prev > label,
.carousel__next > label {
  border: 1px solid goldenrod;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 250;
}

.carousel__prev > label:hover,
.carousel__prev > label:focus,
.carousel__next > label:hover,
.carousel__next > label:focus {
  opacity: 0.9 !important;
}

.carousel__prev > label:before,
.carousel__prev > label:after,
.carousel__next > label:before,
.carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel__prev > label:before,
.carousel__next > label:before {
  background: linear-gradient(
      to top,
      #fff 0%,
      #fff 10%,
      rgba(51, 51, 51, 0) 10%
    ),
    linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}

.carousel__prev {
  position: absolute;
  color: black;
  left: 5%;
  z-index: 200;
}

.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__next {
  position: absolute;
  color: black;
  right: 5%;
  z-index: 200;
}

.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.carousel__nav {
  position: absolute;
  bottom: 10%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.carousel__nav > label {
  border: 1px solid #b38e49;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 20px;
  height: 20px;
  background-color: #162743;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #fcfcfc;
  margin: 0;
}

.carousel__text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  color: whitesmoke;
  text-align: center;
  font-size: x-large; /* Adjusted font size for responsiveness */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .carousel__text-overlay {
    width: 70%;
    font-size: medium;
  }
  .carousel__nav > label {
    border: 1px solid #b38e49;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.125%;
    width: 15px;
    height: 15px;
    background-color: #162743;
  }
}
/*
.button-dark {
  background-color: var(--mainblue) !important;
  color: var(--offwhite) !important;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem !important;
  border-radius: 0.8rem !important;
  font-weight: 600 !important;
  font-size: small !important;
  width: auto !important;
  border: 0.1rem solid var(--gold) !important;
}
*/
