@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainblue: #162743;
  --lightblue: #0479ae;
  --offwhite: #edebe7;
  --gold: #b38e49;
  --red: #be1c28;
}

body{
  padding-top: 80px;
}

