.landing__page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  padding: 0.4rem;
  background-color: var(--offwhite);
}

.landingpage__number {
  color: var(--red);
  font-weight: 650;
  font-size: small;
}

.landingpage__p {
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 600;
  color: var(--mainblue);
  text-align: center;
}

.landingpage__hero {
  width: 100%;
  height: auto;
}

.landingpage__updates {
  padding: 3rem;
}

.ulandingpage__h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  font-family: Montserrat;
  color: var(--mainblue);
}
.updates__p {
  font-weight: 100;
  text-align: center;
  font-size: medium;
  font-family: baskervville;
  color: var(--mainblue);
}

.event__section {
  background-color: var(--mainblue);
  color: var(--offwhite);
}

.event__card {
  width: auto;
}

.event__header {
  font-size: larger;
  color: var(--offwhite);
}

.landingpage__omoss {
  background-image: url(../../public/images/group.png);
  background-size: cover;
  padding: 2rem;
  color: var(--offwhite);
  text-align: center;
  font-size: 1.2rem;
  font-family: Baskervville;
  margin-bottom: 1rem;
}

.landingpage__h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;
  margin-top: 8rem;
}

.landingpage__omoss__p {
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  font-size: small;
}

@media only screen and (min-width: 768px) {
  img.landingpage__hero {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .landingpage__section {
    display: flex;
    flex-direction: column;
  }

  img.landingpage__hero {
    width: 40%;
    height: auto;
    margin: auto;
  }

  .landingpage__content {
    padding: 4rem;
  }

  .landingpage__content {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .landingpage__updates {
    padding: 7rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .landingpage__omoss {
    width: 102rem;
    height: 25rem;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    background-position: center;
  }
}
