.achievement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  padding: 0.4rem;
  background-color: var(--offwhite);
}

.achievement__number {
  color: var(--red);
  font-weight: 650;
  font-size: small;
}

.achievement__text {
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 600;
  color: var(--mainblue);
}

.ksss__historia {
  width: 100%;
}

.updates {
  padding: 2.5rem;
}

.updates__h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  font-family: Montserrat;
  color: var(--mainblue);
}
.updates__p {
  font-weight: 100;
  text-align: center;
  font-size: medium;
  font-family: baskervville;
  color: var(--mainblue);
}

.event__section {
  background-color: var(--mainblue);
  color: var(--offwhite);
}

.event__card {
  width: auto;
}

.event__header {
  font-size: larger;
  color: var(--offwhite);
}

.omoss__box {
  background-image: url(../../public/images/group.png);
  background-size: cover;
  padding: 2rem;
  color: var(--offwhite);
  text-align: center;
  font-size: 1.2rem;
  font-family: Baskervville;
  margin-bottom: 1rem;
}

.omoss__h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;
  margin-top: 8rem;
}

.omoss__p {
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  font-size: small;
}
