.landing__page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  background-color: var(--offwhite);
}

.landingpage__number {
  color: var(--red);
  font-weight: 650;
  font-size: small;
}

.landingpage__p {
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 600;
  color: var(--mainblue);
  text-align: center;
}

.landingpage__hero {
  width: 100%;
  height: auto;
}

.landingpage__updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  flex: 1;
}

.landingpage__h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  font-family: Montserrat;
  color: var(--mainblue);
}
.landingpage__p {
  font-weight: 100;
  text-align: center;
  font-size: 1rem;
  font-family: baskervville;
  color: var(--mainblue);
}

.event__section {
  background-color: var(--mainblue);
  color: var(--offwhite);
  padding: 1rem 0 3rem;
}

.event__card {
  width: auto;
}

.event__header {
  font-size: larger;
  color: var(--offwhite);
}

.landingpage__omoss {
  background-image: url(../../public/images/omOss.JPG);
  background-size: cover;
  background-color: rgba(0, 0, 128, 0.3);
  padding: 2rem;
  background-position: center;
  color: var(--offwhite);
  text-align: center;
  font-size: 1.2rem;
  font-family: Baskervville;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.landingpage__omoss::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely over the element */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire width of the element */
  height: 100%; /* Cover the entire height of the element */
}

.landingpage__h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;
  z-index: 1;
}

.landingpage__omoss__p {
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  font-size: small;
  z-index: 1;
}

.landing-page-separator {
  height: 2.5rem;
  background-color: var(--gold);
}

@media only screen and (min-width: 768px) {
  img.landingpage__hero {
    width: 100%;
    height: auto;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .landingpage__section {
    display: flex;
    flex-direction: column;
  }

  img.landingpage__hero {
    width: 50%;
    height: auto;
    margin: auto;
    flex: 1;
  }

  .landingpage__content {
    display: flex;
    flex-direction: row;
  }
}
