.landing__page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  background-color: var(--offwhite);
}

.landingpage__number {
  color: var(--red);
  font-weight: bolder;
  font-size: small;
  margin-top: 1rem;
}

.landingpage__p {
  font-size: 1.2rem;
  color: var(--mainblue);
  text-align: center;
  max-width: 35rem;
  margin: 0 auto;
  font-family: Baskervville;
}

.landingpage__hero {
  width: 100%;
  height: auto;
}

.landingpage__content{
  display: grid;
  grid-template-columns: 1fr;

}

.landingpage-banner-image {
  background-image: url(../../public/images/afore2013.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: cover;
height: 20rem;
}

.landingpage__updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
}

.landingpage__h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  font-family: Montserrat;
  color: var(--mainblue);
}


.event__section {
  background-color: var(--mainblue);
  color: var(--offwhite);
  padding: 1rem 0 3rem;
}

.event__card {
  width: auto;
}

.event__header {
  font-size: larger;
  color: var(--offwhite);
}

.landingpage__omoss {
  background-image: url(../../public/images/omOss.JPG);
  background-size: cover;
  padding: 2rem;
  background-position: center;
  color: var(--offwhite);
  text-align: center;
  font-size: 1.2rem;
  font-family: Baskervville;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.landingpage__omoss__h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;
  z-index: 1;
  font-family: Montserrat;
  font-size: 2rem;
}

.landingpage__omoss__p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.landing-page-separator {
  height: 2.5rem;
  background-color: var(--gold);
}


@media only screen and (min-width: 768px) {
  .landingpage__section {
    display: flex;
    flex-direction: column;
  }

  .landingpage__content {
    grid-template-columns: 1fr 1fr;
  }

  .landingpage-banner-image {
  height: 35rem;
  }
}
