.footer__container {
  background-color: var(--offwhite);
  padding: 2rem;
  font-family: Montserrat;
}

.kontakt__text {
  margin-left: 0.7rem;
  font-size: medium;
}

.email__info,
.numberinfo {
  display: flex;
  flex-direction: row;
  font-weight: 200;
}

.footer__h4 {
  font-weight: 900;
  font-size: medium;
}

.website__container {
  margin-top: 1.2rem;
  line-height: 1rem;
  margin-left: 0.7rem;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 200;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer__telefon {
  font-weight: 700;
}

.footer__telefon__nummer {
  font-weight: 400;
}
