.footer-container {
  background-color: var(--offwhite);
  padding: 2rem;
  font-family: Montserrat;
}

.kontak-text {
  margin-left: 0.7rem;
  font-size: medium;
}

.email-info,
.number-info {
  display: flex;
  flex-direction: row;
  font-weight: 200;
}

.text-sm {
  margin-top: 1rem;
  margin-left: 0.7rem;
}

h4 {
  font-weight: 900;
  font-size: medium;
}

.website-container {
  margin-top: 1.2rem;
  line-height: 1rem;
  margin-left: 0.7rem;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 200;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
