.footer__container {
  background-color: var(--offwhite);
  padding: 2rem;
  font-family: Montserrat;
}

.footer__h5 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--mainblue);
}

.email__info__container,
.number__info {
  display: flex;
  flex-direction: row;
  font-weight: 300;
}

.footer__email__address__p {
  font-weight: 300;
  margin-left: 1.3rem;
  font-weight: 200;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.website__container {
  margin-top: 1.2rem;
  line-height: 1rem;
}

.footer-ul,
.footer-li {
  list-style-type: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 200;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--mainblue);
}

.footer__telefon__p {
  font-weight: 600;
  color: var(--mainblue);
  font-size: 0.9rem;
}

.footer__telefon__nummer {
  font-weight: 300;
  margin-left: 1.3rem;
  font-weight: 200;
  font-size: 0.875rem;
  color: var(--mainblue);
}

.email_p {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--mainblue);
}
.footer__copyright {
  font-size: xx-small;
  text-align: center;
  color: var(--mainblue);
}

@media only screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
