/* AboutUs.css */

.aboutus__header__box {
  box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.65);
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--mainblue);
  align-self: center;
  padding: 2rem;
  color: var(--offwhite);
}

.aboutus__h1 {
  font-weight: 700;
  margin-bottom: 0.1rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
}

.aboutus__p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.25rem;
  padding-left: 0.3rem;
  padding-right: 1rem;
  font-family: Baskervville;
}

.aboutus__section__p {
  font-size: 1rem;
  font-weight: 300;
}

.aboutus__section {
  padding: 1.9rem;
  letter-spacing: -0.01em;
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
}

.ksss__historia {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}

.kommitte__box {
  background-color: var(--mainblue);
  color: var(--offwhite);
  border-top: 0.3rem solid var(--gold);
  border-bottom: 0.3rem solid var(--gold);
  padding: 1rem;
}

.aboutus__h4 {
  font-weight: 600;
  font-size: larger;
}

.committee__profile__container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 1rem;
  text-align: center;
}

.committee__profile__container::-webkit-scrollbar {
  display: none;
}

.committee__profile__container > * {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .committee__profile__container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 15rem;
  }
}

@media only screen and (min-width: 1200px) {
  .aboutus__header__box {
    height: 15rem;
    padding: 2rem;
    justify-content: center;
  }

  .aboutus__p {
    font-size: large;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .aboutus__section {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
  }

  .aboutus__section__p {
    padding: 0;
  }

  .ksss__historia {
    width: 60%;
  }

  .committee__profile__container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 15rem;
  }

  .committee__profile__container::-webkit-scrollbar {
    display: none;
  }

  .committee__profile__container > * {
    text-align: center;
  }
  .aboutus__h4 {
    margin-left: 3rem;
  }
}
