.header-box {
  box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 0px 8px -2px rgba(0, 0, 0, 0.65);
  height: auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--Mainblue);
  align-self: center;

  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  color: var(--offwhite);
}

.box-header-text {
  font-weight: 800;
  margin-bottom: 0.8rem;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

.box-text {
  font-size: 0.85rem;
  text-align: center;
  line-height: 1.25rem;
  padding-left: 0.3rem;
  padding-right: 1rem;
}

.section-about {
  padding: 0.7rem;
  letter-spacing: -0.01em;
  font-size: 0.9rem;
  text-align: left;
  font-weight: 300;
}

.ksss-historia {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
}
